.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    gap: 2em;
    margin: 4rem 0rem 4rem;
  }
  .spinner {
    display: flex;
    margin-top: 20em;
    justify-content: center;
  }
  .data-flag{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  @media (max-width:600px){
    .products{
        margin: 1rem 0rem 2rem 0rem;
        gap: 1rem;
    }
  }
  