.card {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 28rem;
    border: 1px solid rgb(243, 209, 209);
    margin: auto;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgb(240, 193, 193);
    background-color: white;
  }
  img {
    width: 12rem;
    height: 15rem;
    margin-top: 1em;
    background-color: antiquewhite;
  }
  .card:hover {
      box-shadow: 0px 0px 10px rgb(51, 48, 48);
      cursor: pointer;
  }
  .text-bold {
    font-weight: bold;
  }
  @media (max-width:600px){
    .card{
        width: 16rem;
        height:28rem;
        padding: .5rem;
    }
    .img{
        width:9rem;
        height:12rem;
    }
  }