.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: rgb(247, 77, 15);
    margin: auto;
  }
  .cart-icon {
    padding: 0rem 2rem 0rem 2rem;
    font-size: 3rem;
  }
  .product-type {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    font-size: 2rem;
  }
  .product-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  @media(max-width:900px){

    .product-type{
      font-size: 1.3rem;
      gap: 0.5rem;
    }
    .cart-icon{
      font-size: 1.5rem;
      padding: 0rem 0.5rem 0rem 0.5rem;
    }
    .header{
      height: 4rem;
      width: 100%;
    }
  }
  @media(max-width:450px){
    .product-type{
      font-size: 0.8rem;
      gap: 0.3rem;
    }
    .cart-icon{
      font-size: 1rem;
      padding: 0rem 0.3rem 0rem 0.3rem;
    }
    .header{
      height: 4rem;
      width: 100%;
    }

  }
  